<nav class="navbar">
    <h2>Welcome, {{user?.username}}!</h2>
    <img [src]="user?.photoURL"
         [alt]="user?.username + ' image'"
         class="user-avatar">
    <app-logout-button></app-logout-button>
</nav>

<div class="chat-app-container">
    <div class="chat-sidebar">
        <h3 class="sidebar-title">Users</h3>
        <div class="chat-list">
            @for(user of allUsers; track user.uid) {
            <div class="chat-user"
                 (click)="openChat(user)">
                <img [src]="user.photoURL"
                     alt="{{user.username}} avatar"
                     class="chat-user-avatar">
                <span class="chat-user-name">{{user.username}}</span>
            </div>
            }
        </div>
    </div>

    <div class="chat">
        <ng-container *ngTemplateOutlet="chatWithUser; context: {user: selectedUser}"></ng-container>
    </div>
</div>

<ng-template #chatWithUser
             let-user="user">
    <div style="display: flex;"
         class="chat-header">
        <h2>Chat with {{usernameOfCurrentlyOpenChat}}</h2>
        @if(selectedUser?.photoURL) {
        <img style="width: 60px; height:70px; margin-left: 10px;"
             [src]="selectedUser?.photoURL">
        }
    </div>
    <div class="chat-body">
        @if(user && user.chats) {
        <div class="chat-messages">
            @for(message of selectedUserMessages; track message.id) {
            <p>{{message.text}}</p>
            <p> {{message.date.toDate() | date: 'short'}}</p>
            <p>{{message.senderUsername}}</p>
            <img [src]="message.senderPhoto">
            }
        </div>
        }
        <div class="chat-input">
            <input type="text"
                   class="input-field"
                   placeholder="Type a message..."
                   [(ngModel)]="newMessage"
                   (keyup.enter)="sendMessage()">
            <button class="send-button"
                    (click)="sendMessage()">Send</button>
        </div>
    </div>
</ng-template>
