body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  box-sizing: border-box;
}
